@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
.my-container {
    color: black;
    border: 1px solid blue;
    text-align: center;
    background-color: yellow;
}
.my-class {
    color: red;
    border: 1px solid blue;
    text-align: center;
    background-color: lightblue;
}
#my-id {
    color: red;
}
.id {
}
.body {
    font-family: 'Shadows Into Light', cursive;
    background-image: url(../images/Madhomer.jpg);
}.my-image {
margin-right: auto;
    margin-left: auto;
    display: block;}
